@charset 'UTF-8';

@use 'sass:color';

// Color Variables
$primary-color: #6D28D9;
$primary-color--hover: color.adjust($primary-color, $lightness: -10%);
$bg--gray: #F8FAFC;
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$red: #DC2626;
$yellow: #FACC15;
$light-gray: rgba(15, 23, 42, 0.12);
$gray: rgba(15, 23, 42, 0.24);
$dark-gray: rgba(15, 23, 42, 0.5);
$link-color: #7C3AED;
$transparent: rgba(0, 0, 0, 0);
$highlight-color: #DDD6FE;

// Typography
$font-weight--semibold: 600;

// Page Variables
$border-gray: 1px solid rgba(var(--center-channel-color-rgb), 0.12);
$announcement-bar-height: 40px;
$backstage-bar-height: 43px;

// Random variables
$emoji-per-row: 9; // needs to match variable `EMOJI_PER_ROW` in emoji_picker.jsx

// Transition timing defaults
$transition-quick: 0.12s;

// Elevations
$elevation-1: var(--elevation-1);
$elevation-2: var(--elevation-2);
$elevation-3: var(--elevation-3);
$elevation-4: var(--elevation-4);
$elevation-5: var(--elevation-5);
$elevation-6: var(--elevation-6);
